.header {
  margin-bottom: 0.7rem;
  text-align: center;
}

.haveAccount {
  display: flex;
  gap: 0.2rem;
}

.link {
  color: white;
  font-weight: 500;

  &.noUnderLine {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.captcha {
  margin-bottom: 1rem;
}

.mar1 {
  margin: 1rem 0;
}

.error {
  color: red;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.phone_field {
  position: relative;
  width: 100%;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.showPasswordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
}
