/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Article/styles.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_article___QQJu {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.styles_article___QQJu .styles_image__NTR4D {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.styles_article___QQJu .styles_image__NTR4D img {
  width: auto;
  height: auto;
}
.styles_article___QQJu p {
  font-size: 13px;
  font-weight: 200;
  color: var(--backgroundColor);
}
.styles_article___QQJu h2 {
  font-size: 19px;
  font-weight: 500;
  color: var(--backgroundColor);
}
.styles_article___QQJu h4 {
  font-weight: 400;
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--backgroundColor);
}

@media screen and (min-width: 800px) {
  .styles_article___QQJu {
    max-width: 800px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/LinkCard/styles.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_LinkCard__mxaxP {
  width: 100%;
  aspect-ratio: 1/1.2;
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  padding: 0.5rem;
}
.styles_LinkCard__mxaxP img {
  width: 100%;
  min-height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}
.styles_LinkCard__mxaxP .styles_text_content__Xz3lT {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s ease-in-out;
  gap: 1%;
}
.styles_LinkCard__mxaxP .styles_text_content__Xz3lT div {
  min-width: 100%;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: 0.3s ease-in-out;
}
.styles_LinkCard__mxaxP .styles_text_content__Xz3lT div span {
  font-size: 16px;
  line-height: 110%;
}
.styles_LinkCard__mxaxP span {
  text-align: center;
  font-weight: 500;
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  color: var(--backgroundColor);
}
@media screen and (min-width: 800px) {
  .styles_LinkCard__mxaxP span {
    font-size: clamp(0.9rem, 2vw, 1.3rem);
  }
}

.styles_LinkCard__mxaxP:hover .styles_text_content__Xz3lT div {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Notification/styles.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_notification__k5k82 {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  height: auto;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}
.styles_notification__k5k82 .styles_title__C4VsE {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.styles_notification__k5k82 .styles_title__C4VsE div {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.styles_notification__k5k82 .styles_title__C4VsE h4 {
  margin-left: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}
.styles_notification__k5k82 p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/page/Home/styles.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_home__tNlP3 {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: start;
  padding: 2rem 0;
  gap: 2rem;
}
.styles_home__tNlP3 .styles_messages_icon__sEiIy {
  position: absolute;
  bottom: 20px;
  right: 40px;
  z-index: 100;
  width: 60px;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #5755c4;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
.styles_home__tNlP3 .styles_messages_icon__sEiIy svg {
  width: 60%;
  height: 60%;
}
.styles_home__tNlP3 .styles_stories_module__v2Hnm {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3490196078);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.styles_home__tNlP3 .styles_stories_module__v2Hnm .styles_exit__9Sdpr {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 40px;
  top: 20px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .styles_home__tNlP3 .styles_stories_module__v2Hnm .styles_exit__9Sdpr {
    right: 10px;
    top: 10px;
  }
}
@media (max-width: 370px) {
  .styles_home__tNlP3 .styles_stories_module__v2Hnm .styles_exit__9Sdpr {
    right: 5px;
    top: 0px;
  }
}
.styles_home__tNlP3 .styles_stories__sO5lm {
  width: 78%;
  min-height: 200px;
  max-height: 400px;
  overflow-x: auto;
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.styles_home__tNlP3 .styles_stories__sO5lm::-webkit-scrollbar {
  display: none;
}
.styles_home__tNlP3 .styles_stories__sO5lm .styles_card__JJbuR {
  min-width: 100px;
  max-width: 200px;
  background-color: black;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
}
.styles_home__tNlP3 .styles_cards__xno_o {
  padding: 0 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
.styles_home__tNlP3 .styles_beta__blyY6 {
  text-align: center;
  background-color: #dedeff;
  color: #5755c4;
  margin: 1rem;
  padding: 0.5rem;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
}
.styles_home__tNlP3 .styles_beta__blyY6 b {
  color: #5755c4;
}
.styles_home__tNlP3 .styles_beta__blyY6 p {
  font-size: 5px;
}
.styles_home__tNlP3 .styles_beta__blyY6 a {
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}
.styles_home__tNlP3 h1 {
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.styles_home__tNlP3 .styles_articles__snulG {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  gap: 13rem;
  padding: 2rem;
  width: 50%;
  max-width: 800px;
  margin-inline: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.styles_home__tNlP3 .styles_articles__snulG .styles_artic__XE_wo {
  width: 270px;
  height: 280px;
}
@media screen and (min-width: 800px) {
  .styles_home__tNlP3 .styles_stories__sO5lm .styles_card__JJbuR {
    min-width: 10rem;
  }
  .styles_home__tNlP3 .styles_cards__xno_o {
    max-width: 1200px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .styles_home__tNlP3 .styles_cards__xno_o a {
    width: 25%;
  }
}
@media (max-width: 800px) {
  .styles_home__tNlP3 .styles_messages_icon__sEiIy {
    right: 25px;
    bottom: 80px;
  }
  .styles_home__tNlP3 .styles_articles__snulG {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .styles_home__tNlP3 .styles_articles__snulG {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .styles_home__tNlP3 .styles_articles__snulG {
    width: 80%;
  }
}
